<%= form_for :event, url: events_path, html: { :method => :post, :remote => true, class: "form-horizontal"} do |f| %>
  <div class="alert alert-danger" id="event_errors" style="display:none;"></div>
  <div class="form-group">
    <%= f.label 'Title', :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :title , placeholder: "Title", :class =>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Duration (min)', :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.hidden_field :duration %>
      <button type="button" id="duration_button_15" class="btn btn-default btn-lg duration_button">	15
      </button>
      <button type="button" id="duration_button_30" class="btn btn-default btn-lg duration_button">	30
      </button>
      <button type="button" id="duration_button_60" class="btn btn-default btn-lg duration_button">	60
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "Submit Event", :class =>"btn btn-primary" %>
    </div>
  </div>
<% end %>