<div id="calendar_container" style="background-color: #efefef">
<br />

<div id="calendar">
	<div id="day_title_box"><%= @day.date.strftime('%A') %> (<%= @day.date.strftime('%m/%d') %>)</div>
	<table id="calendar_table" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td id='calendar_times'>
				<% Day.quarter_hours.each do |q_hour| %>
					<div class="qh_block interval_block">
						<%= q_hour %>
					</div>
				<% end %>
			</td>
			<td id="calendar_events">
				<div id="event_container">
					<%= render partial: 'background' %>
					<% @result.data.items.each do |item| %>
						<%= render partial: 'events/event', locals: {event: item} %>
					<% end %>
				</div>
			</td>
		</tr>
	</table>
</div>
<div style="position: absolute; top: 100px; left: 400px; width:300px; border: 1px solid #000000;">
	<h2>Add TODO</h2>
	<%= render 'todos/todo_form' %>
	<br />
	<h2>Add Custom Event</h2>
	<%= render 'events/event_form' %>
</div>
<div style="position: absolute; top: 100px; left: 750px; width:300px; border: 1px solid #000000;">
	<h2>To-Do List</h2>
	<br />
	<div id="todo_container">
		<% current_user.todos.each do |todo| %>
			<%= render partial: 'todos/todo', locals: {todo: todo} %>
		<% end %>
	</div>
</div>

<br />
<%= debug @result.data %>
</div>