<div id="content">
	<div id="calendar_container" class="row">
		<div id="list_pane" class="col-lg-2">
			<div class="panel-group" id="list_accordion">
				<div class="panel panel-default">
					<a data-toggle="collapse" data-parent="#list_accordion" href="#collapseToDos">
						<div class="panel-heading">
							<h4 class="panel-title">
								<span class='glyphicon glyphicon-chevron-down'></span> To-Do List
							</h4>
						</div>
					</a>
					<div id="collapseToDos" class="panel-collapse collapse in">
						<div class="panel-body">
							<div id="todo_container">
								<% current_user.todos.each do |todo| %>
								<%= render partial: 'todos/todo', locals: {todo: todo} %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="calendar_pane" class="col-lg-6">
			<div id="day_title_box">
				<h2>
					<%= @day.date.strftime('%A') %>
					(
					<%= @day.date.strftime('%m/%d') %>)
				</h2>
			</div>
			<div id="calendar">
				<table id="calendar_table" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td id='calendar_times'>
							<%= render partial: 'intervals' %>
						</td>
						<td id="calendar_events">
							<div id="event_container">
								<%= render partial: 'background' %>
								<%= render partial: 'current_time_bar' %>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="quick-form_pane" class="col-lg-4">
			<h2>Add TODO</h2>
			<%= render 'todos/todo_form' %>
			<br />
			<h2>Add Custom Event</h2>
			<%= render 'events/event_form' %>
		</div>
	</div>
	<div class="row">
		<%= link_to "Load Google Events", '/load_google_events', {:id =>
		'load_google_events', remote: true, :style => "display:none;" } %>
	</div>
	<div>
		<%= debug @result.data %>
	</div>
</div>
