<div id="calendar_container" style="background-color: #efefef">
<br />

<div id="calendar">
	<div id="day_title_box"><%= @day.date.strftime('%A') %> (<%= @day.date.strftime('%m/%d') %>)</div>
	<table id="calendar_table" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td id='calendar_times'>
				<% Day.quarter_hours.each do |q_hour| %>
					<div class="qh_block interval_block">
						<%= q_hour %>
					</div>
				<% end %>
			</td>
			<td id="calendar_events">
				<div id="event_container">
					<%= render partial: 'background' %>
					<% @result.data.items.each do |item| %>
						<%= render partial: 'event', locals: {event: item} %>
					<% end %>
				</div>
			</td>
		</tr>
	</table>
</div>
<div style="position: absolute; top: 100px; left: 500px; width:300px; border: 1px solid #000000;">
	<%= link_to 'Add Event', '/events', remote: true, method: :post %>
	<br />
	<%= render 'event_form' %>
</div>

<br />
<%= debug @result.data %>
</div>