<%= form_for @user, html: { :method => :post, :remote => true, class: "form-horizontal" } do |f| %>
  <%= f.hidden_field :time_zone, :value => "Pacific Time (US & Canada)" %>
  <div class="alert alert-danger" id="signup_errors" style="display:none;">
  </div>
  
  <div class="form-group">      
    <%= f.label :first_name, "First Name", :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :first_name, placeholder: "First Name", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">      
    <%= f.label :last_name, "Last Name", :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :last_name, placeholder: "Last Name", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">      
    <%= f.label :email, :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :email, placeholder: "Email", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">      
    <%= f.label :password, :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">      
    <%= f.label :password_confirmation, "Password Confirmation", :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, placeholder: "Type Password Again", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">      
    <%= f.label 'Beta Access Code', :class => "control-label col-sm-3" %>
    <div class="col-sm-9">
      <input class="form-control" id="beta_access_code" name="beta_access_code" placeholder="Beta Access Code (given by Andrew)" type="text">
      <!--<%= text_field_tag "beta_access_code"%> -->
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "Create Account", :class => "btn btn-primary" %>
    </div>
  </div>      
<% end %>