<%= render :partial => 'sessions/login_status' %>

<div class="container">
<p id="notice"><%= notice %></p>

<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>


<div class="form-actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default" %> |
  <%= link_to 'Back', users_path, :class => "btn btn-default"  %> |
  <%= link_to 'Delete', users_path, :method => 'delete', :confirm => "Are you sure?", :class => "btn btn-danger"  %>
</div>
</div>

<%= link_to 'Sign in Google', '/oauth2authorize' %>