<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 101 Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/assets/application.css" rel="stylesheet" media="screen">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <!-- Modal -->  
  <div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-thin">
      <div class="modal-content">
        <div class="panel-group" id="signin_accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#signin_accordion" href="#login_collapse">
                  Login
                </a>
              </h4>
            </div>
            <div id="login_collapse" class="panel-collapse collapse in">
              <div class="panel-body">
                <%= simple_form_for @session, :html => {:class => 'form_horizontal'} do |f| %>
                  <% if @user.errors.any? %>                
                    <ul>
                      <% @user.errors.full_messages.each do |message| %>                
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  <% end %>                             
                  <%= f.input :email, placeholder: "Email" %>                
                  <%= f.input :password, placeholder: "Password" %>                               
                  <br />                
                  <%= f.button :submit, class: "btn-primary" %>                
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <% end %>                
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#signin_accordion" href="#forgot_password_collapse">
                  Forgot Password
                </a>
              </h4>
            </div>
            <div id="forgot_password_collapse" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content --> </div>
    <!-- /.modal-dialog --> </div>
  <!-- /.modal -->

  <!-- Modal -->  
  <div class="modal fade" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create Account</h4>
        </div>
        <div class="modal-body">
        	<%= simple_form_for @user, :html => {:class => 'form_horizontal'} do |f| %>        	
        		<% if @user.errors.any? %>        	
        			<ul>
        				<% @user.errors.full_messages.each do |message| %>        	
        					<li><%= message %></li>
        				<% end %>
        			</ul>
        		<% end %>        	
        		<%= f.input :first_name, placeholder: "Andrew Khor" %>         
            <%= f.input :last_name, placeholder: "Last Name" %>  
            <%= f.input :email, placeholder: "Email" %>        	   	
        		<%= f.input :password, placeholder: "Password" %>        	
        		<%= f.input :password_confirmation, placeholder: "Password" %>
            <br />     	
        		<%= f.button :submit, class: "btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	<% end %>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
      <!-- /.modal-content --> </div>
    <!-- /.modal-dialog --> </div>
  <!-- /.modal -->

  <!-- Navbar -->
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GiveMeTime</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="">
          <div class="navbar-form navbar-right">
            <!-- Button trigger modal -->
            <button class="btn btn-success" data-toggle="modal" data-target="#sign_in_modal">Sign In</button>
            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#sign_up_modal">Sign Up</button>
          </div>
        </div>
        <!-- /.navbar-collapse --> </nav>
    </div>
  </div>

  <!-- Carousel -->
  <div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://d8st7idcnjoas.cloudfront.net/galfull/DPF-117.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>
                Note: If you're viewing this page via a
                <code>file://</code>
                URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://fc06.deviantart.net/fs8/i/2005/276/a/a/CITY_SCAPE_by_Pierrick.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://fc04.deviantart.net/fs70/f/2010/361/1/c/the_pandulum_nebulae_by_philip25-d35skav.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <!-- /.carousel --> </div>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Multiple Calendar Integration
          <span class="text-muted">**Coming Soon**</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></div>
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Oh yeah, it's that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          And lastly, this one.
          <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"></div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <!-- FOOTER -->
    <footer>
      <p class="pull-right">
        <a href="#">Back to top</a>
      </p>
      <p>
        &copy; 2013 Company, Inc. &middot;
        <a href="#">Privacy</a>
        &middot;
        <a href="#">Terms</a>
      </p>
    </footer>

  </div>
  <!-- /.container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/jquery-1.10.2.js"><\/script>')</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
      $('.carousel').carousel();
    });
  </script
</body>
</html>