<!DOCTYPE html>
<html>
<head>
  <title>GiveMeTime</title>
  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation_logged_in' %>
<%= yield %>
<br />
<%= debug(params) if Rails.env.development? %>
</body>
</html>
